@import "@mantine/core/styles.css";
@import "react-medium-image-zoom/dist/styles.css";

.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: rgba(21, 22, 28, 0.95);
}

.custom-zoom [data-rmiz-btn-unzoom] {
  color: var(--button-color);
  background-color: var(--mantine-primary-color-filled);
}
