@import url("../node_modules/water.css/out/water.css");
@import url("../node_modules/inter-ui/inter.css");
@import url("../node_modules/inter-ui/inter-variable.css");
@import url("../node_modules/react-tooltip/dist/react-tooltip.css");

:root,
html,
body {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root,
  html,
  body {
    font-family: InterVariable, sans-serif;
  }
}
