version: "3"

services:
  development-server:
    image: node:20
    volumes:
      - .:/home/node/app
    working_dir: /home/node/app
    ports:
      - "${PORT:-7860}:7860"
    command:
      - "sh"
      - "-c"
      - "npm install && npm run dev"
