version: "3"

services:
  development-server:
    environment:
      - PORT=${PORT:-7860}
    ports:
      - "${PORT:-7860}:7860"
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - .:/app
    command:
      [
        "/usr/local/searxng/dockerfiles/docker-entrypoint.sh -f & npm install && npm run dev -- --host",
      ]
